<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.bzdgs.dms.mapper.DicDetailMapper">

    <resultMap id="detailMap" type="com.bzdgs.dms.domain.DicDetail">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type_id" column="type_id"/>
        <association property="dicType" javaType="com.bzdgs.dms.domain.DicType" select="selectById" column="type_id">
            <result property="id" column="id"/>
            <result property="typeName" column="typeName"/>
        </association>
    </resultMap>


    <select id="selectAll" resultMap="detailMap">
        SELECT * FROM t_dicdetail WHERE type_id = 1
    </select>

    <select id="getFaults" resultMap="detailMap">
        SELECT * FROM t_dicdetail WHERE type_id = 2
    </select>

    <select id="selectById" resultType="com.bzdgs.dms.domain.DicType">
        SELECT * FROM t_dictype WHERE id=#{id}
    </select>

    <select id="selectDeptById" resultType="com.bzdgs.dms.domain.DicType">
        SELECT d.* FROM t_dicdetail d LEFT JOIN t_dictype t ON d.type_id = t.id where  t.id = 5
    </select>

    <select id="selectUnitById" resultType="com.bzdgs.dms.domain.DicType">
        SELECT d.* FROM t_dicdetail d LEFT JOIN t_dictype t ON d.type_id = t.id where  t.id = 4
    </select>


</mapper>
