<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bzdgs.dms.mapper.DocaddressMapper">

    <select id="selectAll" resultType="com.bzdgs.dms.domain.Docaddress">
        SELECT * FROM t_docaddress
    </select>
    <select id="selectAllByQuery" resultType="com.bzdgs.dms.domain.Docaddress">
        select * from t_docaddress
        <where>
            <if test="keyword != null and keyword != ''">
                or name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="keyword != null and keyword != ''">
                or address like CONCAT('%',#{keyword},'%')
            </if>
            <if test="keyword != null and keyword != ''">
                or decs like CONCAT('%',#{keyword},'%')
            </if>
            <if test="keyword != null and keyword != ''">
                or contact like CONCAT('%',#{keyword},'%')
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM t_docaddress where id = #{id}
    </delete>


    <insert id="insert">
        insert into t_docaddress (address,name,decs,fax,tel,contact,state)
        values (#{address},#{name},#{decs},#{fax},#{tel},#{contact},#{state})
    </insert>

    <update id="update">
        UPDATE t_docaddress SET
         address=#{address},
         name=#{name},
         decs=#{decs},
         fax=#{fax},
        contact=#{contact},
        tel=#{tel},
        state=#{state}
        where id=#{id}
    </update>

</mapper>
