<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzdgs.dms.mapper.EducationMapper">

    <select id="selectAll" resultType="com.bzdgs.dms.domain.Education">
        select * from t_education
    </select>

</mapper>
